<settings>
  <General_Properties>
    <direction value="horizontal"/>
    <width value="873"/>
    <height value="300"/>
    <spacing value="5"/>
    <thumbWidth value="160"/>
    <thumbHeight value="230"/>
    <backgroundColor value="0"/>
    <preloader value="assets/redsquares.swf"/>
    <shuffleImages value="false"/>
    <xPosition value="100"/>
    <yPosition value="120"/>
    <imagesXML value="images.xml"/>
    <showAbout value="true"/>
  </General_Properties>
  <Expand_Properties>
    <direction value="center"/>
    <percent value="15"/>
    <func value="Back"/>
    <method value="easeOut"/>
    <duration value="0.6"/>
  </Expand_Properties>
  <Scroll_Properties>
    <scrollMode value="infinite"/>
    <scrollOnRollOver value="both"/>
    <onRollOverSpeed value="40"/>
    <onRollOutSpeed value="8"/>
    <stoppingSpeed value="60"/>
    <stopOnRollOver value="false"/>
    <inverseScrolling value="none"/>
    <buttonScrollMode value="pixel by pixel"/>
    <buttonImage value="assets/arrow1.png"/>
    <buttonsX value="450"/>
    <buttonsY value="120"/>
    <buttonDistance value="780"/>
  </Scroll_Properties>
  <Roll_Over_Properties>
    <rollOverBehaviour value="smooth"/>
    <brightnessOver value="20"/>
    <brightnessOut value="-25"/>
    <brightnessSpeed value="7"/>
  </Roll_Over_Properties>
  <Reflection_Properties>
    <useReflection value="true"/>
    <reflectionDistance value="1"/>
    <reflectionAlpha value="0.3"/>
    <reflectionSpread value="0.4"/>
  </Reflection_Properties>
  <Tooltip_Properties>
    <position value="followMouse"/>
    <delay value="0.3"/>
    <distance value="3"/>
    <padding value="5"/>
    <cornerRadius value="2"/>
    <appearance value="center"/>
    <easingFunction value="Strong"/>
    <easingDuration value="0.3"/>
    <fontFace value="verdana"/>
	<embedFont value="true" />
    <fontSize value="13"/>
    <fontColor value="16777215"/>
    <backColor value="5592405"/>
    <backColor2 value="11184810"/>
    <backAlpha value="0.9"/>
    <borderColor value="11184810"/>
    <borderThickness value="1"/>
    <useArrow value="true"/>
    <arrowPos value="center"/>
    <arrowSize value="5"/>
  </Tooltip_Properties>
</settings>